<template v-if="gamePlaying">
    <template v-if="!gameScore">
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <h2 class="text-center">
                    Round {{ currentRound }} of {{ maxRounds }}
                </h2>
            </div>
        </div>
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" 
                :style="{width: currentPersent}" 
                :aria-valuenow="currentPersent" 
                aria-valuemin="0" aria-valuemax="100"
                >{{ currentPersent }}
            </div>
        </div>
    </template>

    <template v-if="gameScore">
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <h2 class="text-center">
                    Game Over
                </h2>
            </div>
        </div>
        
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" 
                :style="{width: answersPersent}" 
                :aria-valuenow="answers" 
                aria-valuemin="0" :aria-valuemax="maxRounds"
                >{{ answersPersent }}
            </div>
            <div class="progress-bar bg-danger" role="progressbar" 
                :style="{width: wrongAnswersPersent}" 
                aria-valuenow="answers" 
                aria-valuemin="0" 
                aria-valuemax="maxRounds">
            </div>
        </div>
    </template>

</template>