body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans/opensans.woff2") format("woff2"), url("../fonts/opensans/opensans.woff") format("woff"), url("../fonts/opensans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/opensans/opensansitalic.woff2") format("woff2"), url("../fonts/opensans/opensansitalic.woff") format("woff"), url("../fonts/opensans/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensans/obensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
    font-family: 'Open Sans';
}

form {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}

input {
    width: 100%;
    height: 50px;
    font-size: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 160px;
    font-family: 'Open Sans';
    color: #000;
    border-radius: 8px;
    border: none;
    outline: none;
    -webkit-box-shadow: 2px 2px 20px #151418;
    box-shadow: 2px 2px 20px #151418;
}

input::-webkit-input-placeholder {
    font-family: 'Open Sans';
    color: #918c9f;
}

input::-moz-placeholder {
    font-family: 'Open Sans';
    color: #918c9f;
}

input:-ms-input-placeholder {
    font-family: 'Open Sans';
    color: #918c9f;
}

input::-ms-input-placeholder {
    font-family: 'Open Sans';
    color: #918c9f;
}

input::placeholder {
    font-family: 'Open Sans';
    color: #918c9f;
}

select {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    display: inline-block;
    height: 50px;
    font-size: 21px;
    color: #000;
    border-radius: 0 8px 8px 0;
    border: none;
    border-left: 2px solid #151418;
    outline: none;
    font-family: 'Open Sans';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    text-align: center;
}

button {
    display: block;
    font-family: 'Open Sans';
    background-color: #151418;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 150px;
    height: 50px;
    margin: 20px auto 30px auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-box-shadow: 2px 2px 10px #151418;
    box-shadow: 2px 2px 10px #151418;
}

button:hover {
    background-color: black;
    -webkit-box-shadow: 2px 2px 20px #151418;
    box-shadow: 2px 2px 20px #151418;
}

.map {
    margin-top: -270px;
    height: 1010px;
}

.map svg {
    width: 100%;
}

.map path {
    cursor: pointer;
}

#results {
    position: absolute;
    left: 5vw;
    top: 45vh;
    width: 11.5vw;
    text-align: center;
}

#results li {
    background-color: rgba(202, 199, 199, 0.3);
    margin-bottom: 15px;
    padding: 8px 0;
    border-radius: 40%;
    font-size: 1vw;
    -webkit-box-shadow: 2px 2px 10px #cac7c7;
    box-shadow: 2px 2px 10px #cac7c7;
    cursor: pointer;
}

#results li:hover {
    background-color: rgba(177, 173, 173, 0.3);
}
