<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plugins/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Flag Game</title>
    <script src="plugins/vue.js"></script>
</head>
<body class="game">
    <header>
    <div id="nav-trigger">
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>
    </div>
    <div id="header-menu">
        <ul>
            <li>
                <a href="index.html">Interactive Map</a>
            </li>
            <li>
                <a href="flag-game.html">Flag Game</a>
            </li>
        </ul>
    </div>
</header>
    <div id="app" class="container">
        <template v-if="!gamePlaying">

    <div class="row justify-content-center mt-5 choose">
        <div 
            @click="flagMode" 
            :class="{chosen: isFlagGame}" 
            class="col-3 col-md-2 align-self-center text-center"
            >
            <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M301,90V60c0-33.084-26.916-60-60-60H90H75H0v512h90V302h91v30c0,33.084,26.916,60,60,60h271V90H301z M60,482H30V30h30
			V482z M241,362c-16.542,0-30-13.458-30-30v-30h30c16.542,0,30,13.458,30,30S257.542,362,241,362z M271,280.072
			c-8.833-5.123-19.075-8.072-30-8.072H90V30h151c16.542,0,30,13.458,30,30V280.072z M482,362H292.928
			c5.123-8.833,8.072-19.075,8.072-30V120h181V362z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

        </div>

        <div 
            @click="capitalMode" 
            :class="{chosen: isCapitalGame}" 
            class="col-3 col-md-2 align-self-center text-center"
            >
            <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M497.641,255.018h-24.712v-42.701c0-6.208-5.032-11.24-11.24-11.24h-66.642c-6.372-29.816-22.278-56.961-45.447-77.241
			c-23.16-20.272-52.192-32.391-82.713-34.73V75.867h68.143c6.208,0,11.24-5.032,11.24-11.24V11.24c0-6.208-5.032-11.24-11.24-11.24
			h-79.383c-6.208,0-11.24,5.032-11.24,11.24v27.725v25.663v24.535c-30.263,2.47-59.026,14.559-82.007,34.674
			c-23.169,20.28-39.076,47.424-45.447,77.241H50.312c-6.208,0-11.24,5.032-11.24,11.24v42.701H14.36
			c-6.208,0-11.24,5.032-11.24,11.24V500.76c0,6.208,5.032,11.24,11.24,11.24h204.992h73.296H497.64
			c6.208,0,11.24-5.032,11.24-11.24V266.258C508.88,260.05,503.849,255.018,497.641,255.018z M266.888,38.964V22.479h56.904v30.909
			h-56.904V38.964z M256.001,111.161c54.844,0,102.574,37.841,115.961,89.917H140.039
			C153.428,149.002,201.158,111.161,256.001,111.161z M61.552,223.556h64.812h259.275h64.812v31.462H61.552V223.556z
			 M281.409,489.521h-50.816v-84.252h50.816V489.521z M486.401,489.521H351.538V346.043c0-6.208-5.032-11.24-11.24-11.24
			s-11.24,5.032-11.24,11.24v143.478h-25.17v-95.491c0-6.208-5.032-11.24-11.24-11.24h-73.296c-6.208,0-11.24,5.032-11.24,11.24
			v95.491h-25.17V346.043c0-6.208-5.032-11.24-11.24-11.24c-6.208,0-11.24,5.032-11.24,11.24v143.478H25.6V277.497h24.713h411.376
			h24.713V489.521z"/>
	</g>
</g>
<g>
	<g>
		<path d="M351.324,306.759c-0.147-0.719-0.371-1.429-0.652-2.102c-0.281-0.686-0.629-1.338-1.034-1.944
			c-0.405-0.618-0.877-1.191-1.394-1.708c-0.517-0.517-1.09-0.989-1.708-1.394c-0.607-0.405-1.259-0.753-1.944-1.034
			c-0.674-0.281-1.382-0.495-2.102-0.641c-1.45-0.292-2.933-0.292-4.383,0c-0.719,0.146-1.427,0.36-2.102,0.641
			c-0.686,0.281-1.337,0.629-1.944,1.034c-0.618,0.405-1.191,0.877-1.708,1.394s-0.989,1.09-1.394,1.708
			c-0.405,0.607-0.753,1.259-1.034,1.944c-0.281,0.674-0.506,1.382-0.641,2.102c-0.146,0.719-0.225,1.461-0.225,2.192
			s0.079,1.472,0.225,2.203c0.135,0.708,0.36,1.416,0.641,2.102c0.281,0.674,0.629,1.326,1.034,1.933
			c0.405,0.618,0.877,1.191,1.394,1.708s1.09,0.989,1.708,1.405c0.607,0.405,1.259,0.753,1.944,1.034
			c0.674,0.281,1.383,0.495,2.102,0.641s1.461,0.214,2.192,0.214c0.731,0,1.472-0.067,2.192-0.214s1.427-0.36,2.102-0.641
			c0.686-0.281,1.338-0.629,1.944-1.034c0.618-0.416,1.191-0.888,1.708-1.405c0.517-0.517,0.989-1.09,1.394-1.708
			c0.405-0.607,0.753-1.259,1.034-1.933c0.281-0.686,0.506-1.394,0.652-2.102c0.146-0.731,0.214-1.472,0.214-2.203
			C351.538,308.22,351.47,307.478,351.324,306.759z"/>
	</g>
</g>
<g>
	<g>
		<path d="M182.719,306.759c-0.136-0.719-0.36-1.429-0.641-2.102c-0.281-0.686-0.629-1.338-1.034-1.944
			c-0.405-0.618-0.877-1.191-1.394-1.708s-1.09-0.989-1.708-1.394c-0.607-0.405-1.259-0.753-1.933-1.034
			c-0.686-0.281-1.394-0.495-2.113-0.641c-1.439-0.292-2.934-0.292-4.383,0c-0.719,0.146-1.427,0.36-2.102,0.641
			c-0.686,0.281-1.337,0.629-1.944,1.034c-0.618,0.405-1.191,0.877-1.708,1.394s-0.989,1.09-1.394,1.708
			c-0.405,0.607-0.753,1.259-1.034,1.944c-0.281,0.674-0.506,1.382-0.641,2.102c-0.146,0.719-0.225,1.461-0.225,2.192
			c0,2.967,1.203,5.856,3.293,7.946c0.517,0.517,1.09,0.989,1.708,1.405c0.607,0.405,1.259,0.753,1.944,1.034
			c0.674,0.281,1.382,0.495,2.102,0.641c0.719,0.146,1.461,0.214,2.192,0.214s1.472-0.067,2.192-0.214s1.427-0.36,2.113-0.641
			c0.674-0.281,1.326-0.629,1.933-1.034c0.618-0.416,1.191-0.888,1.708-1.405c2.091-2.091,3.293-4.979,3.293-7.946
			C182.944,308.22,182.865,307.478,182.719,306.759z"/>
	</g>
</g>
<g>
	<g>
		<path d="M128.858,294.918H65.351c-6.208,0-11.24,5.032-11.24,11.24v48.33c0,6.208,5.032,11.24,11.24,11.24h63.507
			c6.208,0,11.24-5.032,11.24-11.24v-48.33C140.097,299.95,135.066,294.918,128.858,294.918z M117.618,343.248H76.59v-25.851h41.028
			V343.248z"/>
	</g>
</g>
<g>
	<g>
		<path d="M128.858,395.174H65.351c-6.208,0-11.24,5.032-11.24,11.24v48.33c0,6.208,5.032,11.24,11.24,11.24h63.507
			c6.208,0,11.24-5.032,11.24-11.24v-48.33C140.097,400.206,135.066,395.174,128.858,395.174z M117.618,443.504H76.59v-25.851
			h41.028V443.504z"/>
	</g>
</g>
<g>
	<g>
		<path d="M287.755,294.918h-63.508c-6.208,0-11.24,5.032-11.24,11.24v48.33c0,6.208,5.032,11.24,11.24,11.24h63.508
			c6.208,0,11.24-5.032,11.24-11.24v-48.33C298.995,299.95,293.963,294.918,287.755,294.918z M276.516,343.248h-41.029v-25.851
			h41.029V343.248z"/>
	</g>
</g>
<g>
	<g>
		<path d="M446.65,294.918h-63.507c-6.208,0-11.24,5.032-11.24,11.24v48.33c0,6.208,5.032,11.24,11.24,11.24h63.507
			c6.208,0,11.24-5.032,11.24-11.24v-48.33C457.89,299.95,452.858,294.918,446.65,294.918z M435.411,343.248h-41.028v-25.851h41.028
			V343.248z"/>
	</g>
</g>
<g>
	<g>
		<path d="M446.65,395.174h-63.507c-6.208,0-11.24,5.032-11.24,11.24v48.33c0,6.208,5.032,11.24,11.24,11.24h63.507
			c6.208,0,11.24-5.032,11.24-11.24v-48.33C457.89,400.206,452.858,395.174,446.65,395.174z M435.411,443.504h-41.028v-25.851
			h41.028V443.504z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

        </div>
        
        
    </div>
    <div class="row mt-5">
        <div class="col align-self-center text-center">
            <h1 v-if="gameMode == 'flag'">Flag Mode Game</h1>
            <h1 v-else-if="gameMode == 'capital'">Capital Mode Game</h1>
        </div>
    </div>
    <div class="row">
        <form>
            <select class="custom-select" v-model="area">
                <option value="europe" selected>Europe</option>
                <option value="africa">Africa</option>
                <option value="americas">Americas</option>
                <option value="asia">Asia</option>
                <option value="oceania">Oceania</option>
            </select>
        </form>
        <br>
        <br>
        <br>
    </div>
    <div class="row mt-3">
        <button type="button" 
                @click="startGame" 
                class="btn btn-success"
                >Start Game
        </button>
    </div>
</template>
        <template v-if="gamePlaying">
    <template v-if="!gameScore">
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <h2 class="text-center">
                    Round {{ currentRound }} of {{ maxRounds }}
                </h2>
            </div>
        </div>
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" 
                :style="{width: currentPersent}" 
                :aria-valuenow="currentPersent" 
                aria-valuemin="0" aria-valuemax="100"
                >{{ currentPersent }}
            </div>
        </div>
    </template>

    <template v-if="gameScore">
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <h2 class="text-center">
                    Game Over
                </h2>
            </div>
        </div>
        
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" 
                :style="{width: answersPersent}" 
                :aria-valuenow="answers" 
                aria-valuemin="0" :aria-valuemax="maxRounds"
                >{{ answersPersent }}
            </div>
            <div class="progress-bar bg-danger" role="progressbar" 
                :style="{width: wrongAnswersPersent}" 
                aria-valuenow="answers" 
                aria-valuemin="0" 
                aria-valuemax="maxRounds">
            </div>
        </div>
    </template>

</template>
        <template v-if="gamePlaying">

    <template v-if="gameScore">
        <template v-if="isFlagGame">
            <div class="row mt-3">
                <div class="col text-center">
                    <h1 class="font-weight-bold">
                        You Guessed {{ answers }} Flags out of {{ maxRounds }}
                    </h1>
                </div>
            </div>
        </template>
        <template v-if="isCapitalGame">
            <div class="row mt-3">
                <div class="col text-center">
                    <h1 class="font-weight-bold">
                        You Guessed {{ answers }} Capitals out of {{ maxRounds }}
                    </h1>
                </div>
            </div>
        </template>
    </template>
    
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col-3 col-md-3 align-self-center text-center">
            <img :src="printFlag()"
                v-if="isFlagGame" 
                style="border: 1px solid gray; height: 100px; text-align: center;" 
                alt="">
            
            <h2 v-if="isCapitalGame" >
                {{ askQuestion() }}
            </h2>
        </div>
    </div>

    
    <div class="row mt-5 mb-3 justify-content-around" >
        <div class="card border-dark mb-3" 
            v-for="(variant, i) in variants"
            
            >
            <div class="card-header text-center"
                @click="playersAnswer"
                style="cursor: pointer;" 
            >{{ data[variant].name }}</div>
            <div class="card-body text-dark text-center justify-content-center">
                <img v-if="!areFlagsOpen" 
                    style="height: 5vw;" 
                    src="img/question.svg" 
                    alt="">
                <template v-if="isFlagGame">
                    <img v-if="areFlagsOpen" 
                        style="width: 100%; border: 1px solid gray"
                        :src="data[variant].flag" 
                        alt="">
                </template>

                <template v-if="isCapitalGame">
                    <h3 v-if="areFlagsOpen" >{{ data[variant].capital }}</h3>
                </template>
                
            </div>
        </div>
    </div>
    
    <template v-if="!gameScore">
        <div class="row mt-3">
            <button type="button" 
            v-if="areFlagsOpen"
            @click="setCountries" 
            class="btn btn-dark"
            >Next Round</button>
        </div>
    </template>

    <template v-if="gameScore">
        <div class="row mt-3">
            <button type="button" 
            class="btn btn-success"
            @click="reset">New Game</button>
        </div>
    </template>

</template>
        
    </div>
    <script src="plugins/jquery-3.4.1.min.js"></script>
    <script src="plugins/bootstrap.bundle.min.js"></script>
    <script src="plugins/wow.min.js"></script>
    <script src="js/flag-game.js"></script>
</body>
</html>